# build output
book

## Editor
*.swp
*.swo
Session.vim
.cproject
.idea
*.iml
.vscode
.project
.favorites.json
.settings/

## File system
.DS_Store
desktop.ini

## others
mermaid-init.js
mermaid.min.js