# build output
book

## Editor
*.swp
*.swo
Session.vim
.cproject
.idea
*.iml
.vscode
.project
.favorites.json
.settings/

## File system
.DS_Store
desktop.ini

## others
theme/pagetoc.css
theme/pagetoc.js

## i18n
*.pot
